// STANDARD DOM ELEMENTS
body {
  color: @color-font;
  margin: 1em;

  h1 {
    color: @color-font;
    font-family: @font-header;
  }
  h2 {

  }
  h3 {

  }
  p {
    color: @color-font;
    font-family: @font-paragraph;
  }

}


//VARIABLES
@color-background:;
@color-font: black;

@font-header: 'Source Code Pro', monospace;
@font-paragraph: 'Roboto Slab', serif;
